
.aboutContent__container {
    background-color: lightgreen;
    height: 100vh;
    h5 {
        text-align: center;
        margin: 0;
    }
    img {
       margin: 0 auto;
    }
    div {
        padding: 0 50px;
    }
}