
.aboutTeam {
    text-align: center;
    height: 30vh;
    position: relative;
    &__background {
        position: absolute;
        width: 100%;
        height: 50vh;
        position: absolute;
        z-index: -1;
        top: 0;
        @media only screen and (max-width: 750px) {
            height: 100vh;
          }
    }
    &__container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        @media only screen and (max-width: 750px) {
            display: inline-block;
            margin-bottom: 30px;
            div:last-child {
                margin-bottom: 0;
            }
          }
    }
    &__pick-div {
        @media only screen and (max-width: 750px) {
            margin-bottom: 30px;
          }
    }
    &__circle-container {
        height: 150px;
        width: 150px;
        .circle-image {
            border-radius: 50%;
        }
        @media only screen and (max-width: 750px) {
            margin-bottom: 30px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
input[type="radio"] {
    appearance: none;
    background-color: var(--form-background);
    
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    margin: 0 auto;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  form {

  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  h1 {
      margin: 0;
      padding-top: 20px;
  }
  h4 {
      margin-top: 3px;
  }
}