.footer {
    position: relative;
    padding-top: 60px;
    overflow: hidden;
  
    @media(max-width: 50px) {
      padding-top: 0;
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50%;
      z-index: -1;
      background-image: url("/images/footer-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
  
      @media(max-width: 50px) {
        background: none;
      }
    }
  
    &__inner {
      background-image: url("/images/clouds/cloudsFooter.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 95%;
      padding: 50px;
      position: relative;
  
      @media(max-width: 50px) {
        width: 100%;
        padding: 30px;
      }
  
      &::after {
        content: "";
        position: absolute;
        top: calc(46.5% + 80px);
        right: -80px;
        z-index: -1;
        width: 80px;
        height: 80px;
        background-image: url("/images/circles/quarter4.svg");
        background-repeat: no-repeat;
        background-size: contain;
  
        @media(max-width: 50px) {
          display: none;
        }
      }
    }
  
    &__content {
      background-color: white;
      padding: 32px;
  
      p {
        margin: 0;
        font-weight: 700;
        text-align: center;
      }
    }
  
    &__button-list {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0 30px;
  
      @media(max-width: 850px) {
        flex-direction: column;
      }
  
      .btn {
        margin-left: 12px;
        margin-right: 12px;
        min-width: 200px;
        text-align: center;
  
        @media(max-width: 850px) {
          margin-left: 0;
          margin-right: 0;
          margin-top: 12px;
          margin-bottom: 12px;
          width: 100%;
          min-width: 0;
        }
      }
    }
  
    hr {
      margin-top: 32px;
      margin-bottom: 32px;
      max-width: 670px;
    }
  
    &__learn-more-wrapper {
      text-align: center;
      margin-top: 30px;
  
      .link span {
        position: relative;
        display: flex;
  
        &::after {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("/images/icons/expand.svg");
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 12px;
        }
      }
    }
  
    &__after {
      display: block;
      padding: 50px;
      text-align: center;
    }
  }
  