


.footer {
  background: rgb(253,248,245);
  padding-top: 3rem;
  overflow: hidden;
  // background-image: url("/images/tan.jpeg");
  // background-repeat: no-repeat;
  // background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 7rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    background-image: url("/images/gray.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 1070px) {
      margin: 30px;
      h4 {
        font-size: 12px
      }
    }
    .box-icon {
      width: 30px;
      left: 160px;
    }

    &--inner {
      background-color: rgb(253,248,245);
      padding: 20px 40px;
      width: 100%;
      
    }
    &--link-wrapper {
      position: relative;
      margin: 0 auto;
      text-align: center;
      width: 200px;
      // .link span {
      //   position: relative;
      //   display: flex;
      //   flex-direction: column;
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     top: 0;
      //     left: 410px;
      //     right: 0;
      //     bottom: 50%;
      //     width: 30px;
      //     height: 30px;
      //     // background-image: url("/images/icons/weasel.svg");
      //     background-image: url("https://freesvg.org/img/Fisher-1-.png");
      //     background-repeat: no-repeat;
      //     background-size: contain;
      //   }
      // }

      img {
        position: absolute;
        width: 30px;
        top: 0;
        right: 250;
        cursor: pointer;
      }
    }
  }
  &--logo-wrapper {
    text-align: center;
    padding: 40px 0;
  }
  button {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    width: 190px;
    border:none; 
    border: 2px solid rgb(218,191,173);
    background-color: rgb(253,248,245);
    @media only screen and (max-width: 1070px) {
      display: block;
      margin: 10px auto;
    }
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
  }

  img {
    width: 3rem;
        margin: auto;
        display: block;
  }
  hr {
    padding: 0 10px;
    margin: 30px 0;
  }
  p {
    margin: 0;
    font-weight: 100;
    color: gray;
    font-size: small;
  }
  a {
    color: black;
    text-decoration: underline;
  }
}

