
$primary: #CCE1EF;


.medtech {
    background-color: $primary;
    &__navbar-container{
        background-color: lightgreen;
        height: 100px;
    }
    .navbar-container--icon {
        background-color: lightgreen;
        width: 150px;
        position: absolute;
    }
    .navbar-container--top-wrapper {
        text-align: right;
        padding: 10px 50px;
        a {
            color: darkgray;
            cursor:pointer;
            margin: 10px;
        }
    }
    .navbar-container--bottom-wrapper {
        text-align: right;
        padding: 0 50px 0 0;
        a {
            color: gray;
            cursor:pointer;
            margin: 10px;
        }
    }

}