
.navbar__container {
    background-color: rgb(240, 231, 214);
    text-align: right;
    height: 50px;
    padding-top: 10px;
    a {
        display: inline;
        padding: 0 20px;
        cursor: pointer;
        color: gray;
        transition: .3s;
    
    }
    a:hover {
        color: black;
    }
    h3 {
        margin: 0;
        position: absolute;
        left: 20px;
        top: 8px;
    }
}