$gradient-brand: linear-gradient(90deg, #ff2700 0%, #ff8700 60.01%, rgba(255, 132, 0, 0.69) 99.49%);

.westedgeNav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 100vw;
    position: absolute;
    z-index: 99;
    padding-right: 30px;
    &__left {
        img {
            margin-left: 30px;
            width: 140px;
        }

    }
    &__right {

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 18px;
            transition: all 300ms;
            position: relative;
            font-weight: 300;
            color: gray;
            margin: 0 20px;
      
            &::after {
              content: "";
              width: 0;
              height: 2px;
              position: absolute;
              transition: all 0.15s linear;
              background: $gradient-brand;
              left: 0;
              bottom: 0;
            }
      
            &:hover,
            &:focus,
            &:active {
              color: black;
      
              &::after {
                width: 100%;
              }
            }
          }
          
        }
        .nav__links--open {
            background-color: red;
            position: absolute;
            width: 100vw;
            height: 300px;
            top: 0;
            .mobile-logo {
              width: 150px;
            }

            .mobile-nav-button-wrapper {
              
              .border-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
            }
        }
        .hamburger-react {
   
        }

}


// Westedge rel


// subimagewrapper
// top: 250
// px
// ;
//     bottom: 0;
//     left: 0;
//     height: 30%;
//     width: 15%;
//     transform: translateY(50%);
//     /* border: 8
// px
//  solid tan; */
//     min-height: 200
// px
// ;
//     min-width: 200
// px
// ;
//     max-width: 500
// px
// ;
//     max-height: 500
// px
// ;

// on HTEML
// box-sizing: border-box;