@import "components/hero.scss";
@import "components/userContent.scss";
@import "components/aboutContent.scss";
@import "components/homeContent.scss";
@import "components/navbar.scss";
@import "components/footer.scss";
@import "components/ctaBanner.scss";
@import "components/info.scss";
@import "components/footer.scss";
@import "components/medtech.scss";
@import "components/westedgeTeam.scss";
@import "components/westedgeNav.scss";
@import "components/westedgeOffice.scss";
@import "components/elevation.scss";
@import "components/expandable.scss";
@import "components/btn.scss";
@import "components/officeSection.scss";
@import "components/condictional.scss";

$primary: #fdf8f5;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


.westedge{
  position: relative;
  &__nav {
    background-color: rgb(231,222,219);
    height: 50px;
    // text-align: left;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    p {
      line-height: .7;
    }
    a {
      color: black;
      padding-top: 10px;
      margin-right: 20px;
      text-decoration: none;
      &::after {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 0.15s linear;
        background: red;
        left: 0;
        bottom: 0;
      }
    }
  }
}


.btn {
  color: black;
  background-color: white;
  font-size: 16px;
  line-height: 135%;
  font-weight: 400;
  cursor: pointer;
  transition: all 300ms;
  display: inline-block;
  border: 2px solid black;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px;

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: green;
  }

  &::before {
    right: -2px;
    top: -2px;
  }

  &::after {
    left: -2px;
    bottom: -2px;
  }

  span {
    display: block;
    padding: 10px 32px 8px;

    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background: orange;
    }

    &::before {
      left: -2px;
      bottom: -2px;
    }

    &::after {
      right: -2px;
      top: -2px;
    }
  }

  &[disabled] {
    opacity: 0.3;

    &:hover {
      text-decoration: none;
      cursor: not-allowed;
    }
  }

  &:hover:not([disabled]),
  &:active,
  &:focus, &.active {
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 4px rgba(113, 60, 59, 0.25);
    filter: drop-shadow(0px 0px 5px rgba(113, 60, 59, 0.44));
    color: black;

    &::before,
    &::after {
      width: calc(100% + 4px);
    }

    span {
      &::before,
      &::after {
        height: calc(100% + 4px);
      }
    }
  }
}





